os
re
glob
json
sqlite3
textwrap
folium
google-colab
groq
ipython
langchain
langchain-community
langchain-core
langchain-groq
markitdown
matplotlib
numpy
pandas
plotly
python-dotenv
rank-bm25
seaborn
sqlalchemy
datetime
groq
